{% load custom %}
{% load markup %}
{% load avatar_tags %}

  <h3 style="margin:0; margin-bottom: 8px; padding-top:16px; float:right;  width: 245px;">Delivery Date: {% if item.deadline %}{{ item.deadline|date:"d M Y" }}{% else %}Not set{% endif %} {% if item.binder.owner = user %} <a href="/roadmap/ledger/set_deadline?project={{ item.slug }}"  class="floatRight">Change</a>{% endif %}</h3>

	<div id="line-divider">
		{% include "ledger/objects/calendar.html" %}

		<div id="targets" style="border-bottom: dashed 1px #dddddd; padding-bottom: 16px; padding-left: 12px; ">
			<span class="floatRight"><img src="/media/layout/icons/add.png" alt="Add Icon"/> <a href="{% url roadmap.ledger.views.new_target project_id=item.id %}">Add Project</a></span>
			<h3 style="margin-bottom: 4px;">Projects</h3>
			<ol>
			<!--
			<li><img src="/media/layout/icons/target.png" alt="Target" title="Target"/> First Sprint <span style="font-size: 0.8em; padding-top: 3px;" class="floatRight">14/Mar/2011</span></li>
			-->
			{% for loop_target in targets %}
				<li>
				<img src="/media/layout/icons/{% if loop_target.overdue %}exclamation{% else %}target{% endif %}.png" alt="Target" title="Target {% if loop_target.overdue %}- OVERDUE{% endif %}"/>
				<!-- need to filter out when item is not owned by user -->
				<a href="/roadmap/ledger/active?binder={{ item.binder.slug }}&project={{ item.slug }}&location=All&assigned_to=all&target={{ loop_target.slug }}">
				{{ loop_target.name }}</a> {% ifequal loop_target.public 1 %}{% else %}<img src="/media/layout/icons/lock.png" title="Private target" />{% endifequal %}
				<span style="font-size: 0.8em; " class="floatRight">
				  {% ifequal loop_target.user user %}<a title="Edit this item" href="{% url roadmap.ledger.views.edit_target target_id=loop_target.id project_id=item.id %}">{{ loop_target.deadline|date:"d M Y"}}</a>
				  {% else %}{{ loop_target.deadline|date:"d M Y"}}
				  {% endifequal %}
				</span>
				</li>
			{% endfor %}
			</ol>
		</div>

		{% if user.is_staff %}
			<div id="tagCloud" style="padding-left: 12px; ">
				<h3>Tags</h3>
				<div>
					{% for tag in tag_cloud %}
						<span class="tag-{{tag.font_size}}"><a href="/roadmap/ledger/active?location=All&project={{ item.slug }}&binder={{ item.binder.slug }}&tags={{ tag.name|urlencode }}&SearchTags=Search">{{tag.name}}</a></span>
					{% endfor %}
				</div>
			</div>


			<div id="team">
				<h3 style="padding-left: 12px;">Team</h3>

				<ol>
					{% for item in team %}
						<li class="clearfix">
							<span style="float: left;">
								<span class="gravatar">
									<img src="{% avatar_url item 48 %}" />
								</span>
							</span>


							<div style="float:right; text-align: right;">
								<a href="{% url roadmap.ledger.views.profile username=item.username %}">{{ item.first_name }} {{ item.last_name }}</a><br/>
								{% ifequal item binder.owner %}
									<span class="userType"><img src="/media/layout/icons/user_gray.png" title="Owner" alt="Owner"/> Owner</span>
								{% else %}
									{% if item in reporters %}
										<span class="userType"><img src="/media/layout/icons/Reported.png" title="Reporter" alt="Reporter icon" /> Reporter</span>
									{% endif %}
									{% if item in producers %}
										<span class="userType"><img src="/media/layout/icons/Production.png" title="Producer" alt="Producer icon" /> Producer</span>
									{% endif %}
								{% endifequal %}
							</div>

							<div id="trophies">
							</div>

						</li>
					{% endfor %}
				</ol>
			</div>
		{% endif %}
	</div>