	{% extends "ledger/base_wide.html" %}
	{% load custom %}
	{% load markup %}

	{% block "title" %}
	Active {{ page.location }}
	{% endblock %}





	{% block "breadcrumb" %}
		<img src="/media/layout/icons/house.png" title="home"/> <a href="/">Home</a> <span class="arrow">&#9654;</span>
		<img src="/media/layout/icons/folder_user.png" /> <a href="{% url roadmap.ledger.views.view_client name=project_item.binder.client.slug %}">{{ project_item.binder.client.name }}</a> <span class="arrow">&#9654;</span>
		<img src="/media/layout/icons/group.png" /> <a href="{% url roadmap.ledger.views.view_binder name=project_item.binder.slug %}">{{ project_item.binder.name }}</a> <span class="arrow">&#9654;</span>
		<img src="/media/layout/icons/timeline_marker.png" /> <a href="/roadmap/ledger/project/{{ project_item.binder.slug }}/{{ project_item.slug }}" title="Go to {{ project_item.name }} project ">{{ project_item.name }}</a> <span class="arrow">&#9654;</span>
		<img src="/media/layout/icons/application_view_list.png"  title="Items" /> Delivery
	{% endblock %}




	{% block "toolbox" %}
		{% if page.project_id %}
			<div id="toolbox">
				<span class="linkButton">
					<a class="ui-state-default ui-corner-all dialog_link" href="{% url roadmap.ledger.views.new_item item_type='Issue' %}?project={{ page.project_id }}&search_id={{ search_id }}" title="Add new issue"> <img src="/media/layout/icons/Issue.png" class="icon-adjust" alt="Icon for issue" /> Issue</a>
				</span>

				<span class="linkButton">
					<a class="ui-state-default ui-corner-all dialog_link" href="{% url roadmap.ledger.views.new_item item_type='Requirement' %}?project={{ page.project_id }}&search_id={{ search_id }}" title="Add new requirement"> <img src="/media/layout/icons/Requirement.png" class="icon-adjust" alt="Icon for requirement" /> Requirement</a>
				</span>

				<span class="linkButton">
					<a class="ui-state-default ui-corner-all dialog_link" href="{% url roadmap.ledger.views.new_item item_type='File' %}?project={{ page.project_id }}&search_id={{ search_id }}" title="Add new file"> <img src="/media/layout/icons/File.png" class="icon-adjust" alt="Icon for file" /> File</a>
				</span>

				<span class="linkButton">
					<a class="ui-state-default ui-corner-all dialog_link" href="{% url roadmap.ledger.views.new_item item_type='Note' %}?project={{ page.project_id }}&search_id={{ search_id }}" title="Add new note"> <img src="/media/layout/icons/Note.png" class="icon-adjust" alt="Icon for note" /> Note</a>
				</span>
			</div>
		{% endif %}
	{% endblock %}




	{% block "maincontent" %}
		<div id="createItemWhere"  class="instaFilter">
			<h2>Make Delivery</h2>

			<p class="margin24">Deliver to which location?</p>

			<div class="margin24">
				<div style="text-align: center; margin-top: 64px;">
				<a class="orangeInput" href="{% url roadmap.ledger.views.make_delivery_items client=client, binder=binder, project=project, location='testing' %}">Test</a>
				<a class="orangeInput margin24" href="{% url roadmap.ledger.views.make_delivery_items client=client, binder=binder, project=project, location='production' %}">Live</a>
				</div>

			</div>
		</div>
	{% endblock %}
