@mixin locationHeaderShared {
	margin-top: 2em; padding: 8px; padding-left: 12px; width: 940px;
}
.locationHeader {
	.reported {
		@include locationHeaderShared; background-color: #eee; border-top: 1px dotted #ccc; color: #000;
	}

	.production {
		@include locationHeaderShared; background-color: #CBE8F9;  border-top: 1px dotted #ccc; color: #000;
	}

	.testing {
		@include locationHeaderShared; background-color: #fff9d0;  border-top: 1px dotted #ccc; color: #000;
	}

	.approved {
		@include locationHeaderShared; background-color: #E4FED0;  border-top: 1px dotted #ccc; color: darken(#E4FED0, 70%);
	}

	.delivered {
		@include locationHeaderShared; background-color: #eee; border-top: 1px dotted #ccc; color: #000;
	}
}

#homeList {
	#selectedItems {
		background-color: #FFF4D8; border-top: solid 1px #aca693; display: none; padding: 8px; position: fixed; @include shadow(0px, -4px, 12px, rgba(0,0,0,0.3) );
		bottom: 0; width: 944px; z-index: 1000;
		a {
			margin-right: 12px;
		}
		button {
			padding: 4px 9px 4px 9px;
		}
		input {
			padding: 4px 9px 4px 9px;
		}
	}
}

#tagBox { border-top: 1px solid #bbb; padding: 8px; }
	#tagBox #tags, #instantFilter { border: solid 1px #FFCFA8; /*padding: 5px;*/ width: 450px; }
	#tagBox #moveTags { margin-right: 0em;  }
	.ui-autocomplete li { background-color: #fff; }




/*
	The items page has a preview box which pops up when the links are hovered over
*/
#previewWrap {
	display: none;
	#previewContent {
		background-color: #FFFED6; position: fixed; right: 0px; scroll: fixed; top: 0px; width: 300px; z-index: 9999;
		@include shadow(0px, 4px, 12px, rgba(0,0,0,0.3) );

		#innerContent {
			font-size: 90%; padding: 12px;
			p {
				margin-bottom: 8px;
			}
			#comments {
				border-top: solid 1px #eee; margin-top: 8px; padding-top: 8px;
				.comment {
					margin-bottom: 16px;
					.username {
						color: $blue; font-size: 10px;
					}
					.date {
						color: $charcoal; font-size: 10px;
					}
				}
			}
		}
	}
}



#activeList {
	margin-right: 0; width: 100%;
	#instantFilter {
		/*@include shadow(inset 0px, 1px, 1px, rgb(206,206,207)); border: none; padding: 4px;*/
		&:focus {

		}
	}
	tbody {
		tr {
			background-color: #f8f8f8;

			&:nth-child(2n) {
				background-color: #ffffff;
			}

			&.locationChanged {
				background: #D4D7DD url(/media/layout/images/content/insetTop.png) top repeat-x; color: #000; font-size: 110%; text-align: left;
				/* green-  background: #D2DBD7; */
				@include shadow(inset 0px, 2px, 2px, rgb(180,180,180));
				td {
					color: #000;  padding: 8px; padding-left: 8px;
				}
			}

			&.unseen {
				background-color: #fffde0;
			}

			&.itemGroup {
				background-color: #eeeeee;
			}

			&.instaFilterThis:hover {

			}

			&.instaFilterThis td img.previewThis:hover {
				cursor: pointer;
			}

			&.preview {
				background-color: #FFFED6;
			}
			.reminderDate {
				color: #419c41;
			}
		}
	}
	thead {
		/*background: -moz-linear-gradient(bottom, #F4f4f4 0%,  #ffffff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f4f4f4)); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f4f4f4',GradientType=0 );*/

		th {
			padding: 8px;

			a{
				text-shadow: 0 2px 0 #FFFFFF;
				&.selected {
					color: #FB9E4A;
				}
			}

		}


	}
	tfoot {
		border-bottom: solid 1px #ccc; background: #eeeeee; background: -moz-linear-gradient(top, #fff 0%, #f4f4f4 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f4f4f4)); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f4f4f4',GradientType=0 ); font-size: 0.8em;
	}
}



#assignToGroup {
	display:none;
	#assignToGroupSpinner {
		display: none; margin:0; padding: 0; position: absolute;
	}
	#assignToGroupContent {
		background: #ffffff; padding: 12px;
		h3 {
			margin-top: 0;
		}
		#assignToGroupButtons {
			margin-top: 12px;
		}

	}
}

#remindMeWhen {
	display:none;
	#remindMeWhenSpinner {
		display: none; margin:0; padding: 0; position: absolute;
	}
	#remindMeWhenContent {
		background: #ffffff; padding: 12px;
		p,em {
			display: block; margin-bottom: 12px;
		}
		h3 {
			margin-top: 0;
		}
		ol {
			li {
				margin-bottom: 8px;
			}
		}

		input {
			margin-left: 1em; margin-right: 1em; width: 5em;
		}

		textarea {
			height: 100px; width: 414px;
		}

		#remindMeWhenButtons {
			margin-top: 12px;
		}
	}
}

#viewSettingsTrigger {
	&:hover {
		cursor: pointer;
	}
}

#viewSettingsPopup {
	background: #EDEFEF; font-size: 14px;
}

#latestUpdatesCollapse {
	border: solid 1px #777; display: none; @include shadow(0px, 4px, 12px, rgba(0,0,0,0.3) ); position: relative; top: -24px;
	#activeList tbody tr.itemGroup {
		//background: #FFFDE0;
	}
}

.ui-autocomplete {
	width: 200px;
}


/*

	New Navigation

*/

$formBackgroundColour: #404040;

#statusbar {
	background-color: #202020; border-top: solid 1px #3d3d3d; border-bottom: solid 1px #000000; width: 100%;

	@include textShadow(0px, -1px, 1px, #000 );

	#notificationsArea {
		a { color: $electricBlue; }
		float: left; padding-top: 5px;
	}

	#toolbox {
		float: right; margin: 0; padding: 0;
		.linkButton {
			 border-right: solid 1px #000000; padding: 0; margin: 0; padding-bottom: 0px; padding-top: 0px; float: left;
			a {
				border-left: solid 1px #3d3d3d; color: $orange; display: inline-block;  padding: 8px; padding-left: 24px; padding-right: 24px;

					background: #373737;
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM3MzczNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iIzIwMjAyMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
					background: -moz-linear-gradient(top,  #373737 0%, #202020 67%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#373737), color-stop(67%,#202020)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  #373737 0%,#202020 67%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  #373737 0%,#202020 67%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  #373737 0%,#202020 67%); /* IE10+ */
					background: linear-gradient(to bottom,  #373737 0%,#202020 67%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#202020',GradientType=0 ); /* IE6-8 */

				&:hover {
					background: #3d3d3d; /* Old browsers */
					/* IE9 SVG, needs conditional override of 'filter' to 'none' */
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNkM2QzZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iIzIwMjAyMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
					background: -moz-linear-gradient(top,  #3d3d3d 0%, #202020 67%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3d3d), color-stop(67%,#202020)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  #3d3d3d 0%,#202020 67%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  #3d3d3d 0%,#202020 67%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  #3d3d3d 0%,#202020 67%); /* IE10+ */
					background: linear-gradient(to bottom,  #3d3d3d 0%,#202020 67%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#202020',GradientType=0 ); /* IE6-8 */
				}


			}
			/*
			 A fake empty button gets added to the left of the first one so we get the button emboss.
			 Blank the background
			*/
			&:nth-child(1) {
				background: transparent;
			}
		}
	}
}



#lowerWrapper {
	background-color: #2d2d2d;padding: 0; margin: 0;
	#leftNav {
		color: $navGray; padding: 0; margin: 0; float: left; width: 260px;


		input[type='checkbox'] {
			margin: 0; padding: 0;
		}

		a {
			color: $navGray;
		}

		@include textShadow(0px, -1px, 1px, #000 );

		ol {
			li {
				.sectionTop {
					border-top: solid 1px #3d3d3d; border-bottom: solid 1px #000000; font-size: 14px; padding: 8px;
					&:hover {
						background-color: #292929;
					}
					&.project {
						background-color: #272727;
					}
				}

				#filterEditProperties input[type="text"] { /*border: solid 1px $orange; */ padding: 4px; }

				a {
					display: block;
				}
				ol {
					background-color: #1d1d1d; padding: 8px; padding-left: 0; padding-right: 0;

					li {
						&.viewLine { padding-bottom: 12px; }
						#itemListOtherItemsPage {
							a {
								display: inline;
								&:hover {
									cursor: pointer;
								}
							}
						}
						padding-left: 8px; padding-right: 8px;

						&.filterNameLabel {
							padding-left: 16px;
						}
					}

					/*
						Make the form have a lighter background
					*/
					form {

						color: #fff;
						input[type='text'] {
							margin-left: 8px;
							width: 166px;
							border: solid 1px #000;
						}

						padding-top: 8px; padding-bottom: 8px;
						background: $formBackgroundColour;
						border-top: solid 1px #404040; border-bottom: solid 1px lighten($formBackgroundColour, 5%);
						margin-bottom: 8px;
						ol#filterListProperties {
							padding-top: 12px;
							background: $formBackgroundColour;
							li {
								background: $formBackgroundColour;
								a.orangeInput {
									color: #ddd; padding: 6px;
								}
							}
						}
					}

					&#itemListOtherItems {
						// this needs adding to bring it in line with the list page
						/*background: #404040;  */
						li {
							margin-bottom:0.8em;
						}
						a {
							font-size: 11px;
						}
					}

					a.newViewButton {
						background: $formBackgroundColour;
					}
				}
				.selected {
					a {
						color: #fff;
					}
				}

			}
		}


		.more {
			display: inline; font-size: 9px;
		}

		.action {
			color: $orange;
		}
	}

	#container {
		margin-left: 260px;
	}
}
