#searchLauncher {
	cursor: pointer;
}

#searchbox {
	float: left; padding: 8px; padding-bottom: 9px;

	#searchStart {
		background: 229px #fff no-repeat; border: solid 1px #ccc; width: 243px; @include borderRadius(12px, 12px, 12px, 12px);
		&:focus {
			border: solid 1px #3badf9;
		}
		&.working {
			background: #fff url('/media/layout/images/indicator.white.gif')   229px no-repeat;
		}

	}
}

#searchWrapper {
	position: absolute; top: 115px; left: 0; width: 500px; z-index: 99999;

	#searchResults {

		background-color: #000; border: none; color: #aaa; display: none; left: 0px; position: relative;  z-index: 99999;
		text-shadow: none;
		a { color: $orange; }
		ol {
			@include shadow(8px, 5px, 30px, #000000);
			li {
				background-color: #303030; border: solid 1px #000; border-bottom: none; display: block; /*margin-bottom: 16px; */ margin-right: 0px; padding: 4px; width: 500px;
				padding-left: 8px;
				&.selected {
					background-color: $orange;
					color: black;
					a {
						color: black;
					}
				}
				.project {
					color: #777;
				}
				.tags {
					color: $darkBlue;
				}
			}
		}
	}
}
