

footer {
	clear: both; display: block;

	#footer {
		/*background-color: #B3B6B6; */color: $charcoal; border-top: dotted 1px #ddd; font-size: 0.8em; padding: 16px; margin-top: 24px;
	   .orange { color: $orange; }
	   .strapline { font-style: italic; }
	}
}

#footer { height: 18px; margin-bottom: 200px;}