{% extends "ledger/base_wide.html" %}
{% load custom %}
{% load markup %}

{% block "title" %}
Active {{ page.location }}
{% endblock %}





{% block "breadcrumb" %}

{% endblock %}





{% block "navigation" %}
	<ol>
		<li>
				{% for client in clients %}
					<ol>
					<li>

							<a href="/roadmap/ledger/client/{{ client.slug }}">{{ client.name }}</a>

					</li>
					</ol>
				{% empty %}
				<ol>
					<li>
							No clients
					</li>
				</ol>
				{% endfor %}

		</li>

		<li>
			<div class="sectionTop">
				<a style="font-size:12px;" href="/roadmap/ledger/new_client" class="">New Client</a>
			</div>
		</li>
	</ol>
{% endblock %}




{% block "toolbox" %}
  <div id="toolbox">
	<span class="linkButton">
	  <a class="ui-state-default ui-corner-all dialog_link" href="{% url roadmap.ledger.views.create_item_where item_type='Issue' %}" title="Add new issue">New Issue</a>
	</span>

	<span class="linkButton">
	  <a class="ui-state-default ui-corner-all dialog_link" href="{% url roadmap.ledger.views.create_item_where item_type='Requirement' %}" title="Add new requirement">New Requirement</a>
	</span>

	<span class="linkButton">
	  <a class="ui-state-default ui-corner-all dialog_link" href="{% url roadmap.ledger.views.create_item_where item_type='File' %}" title="Add new file">New File</a>
	</span>

	<span class="linkButton">
	  <a class="ui-state-default ui-corner-all dialog_link" href="{% url roadmap.ledger.views.create_item_where item_type='Note' %}" title="Add new note">New Note</a>
	</span>
  </div>
{% endblock %}




{% block "maincontent" %}
	<div id="previewWrap">
		<div id="previewContent">
			<div id="innerContent">
			</div>
		</div>
	</div>

	<h2 style="margin-top: 0; padding-top: 24px;">
	  {{ h2text }}
	</h2>

	<form action="/roadmap/ledger/activepost?return=items" method="get" name="homelist" id="homeList" class="instaFilter">
		{% csrf_token %}

		<div id="selectedItems" style="{% if selected_items_count != 0 %}display:block;{% endif %}">
			{% include "ledger/items/selected_items_bar.html" %}
		</div>



	    <table id="activeList" class="jtable expand">
			<thead>
				<tr>
					<th class="checkbox" style="text-align: center; "><a href="/select_all_click?search_id={{ search_id }}">All</a></th>
					<th></th>
					<th class="auto"  >
						<a href="#" onclick="return Roadmap.activeItemsOrder('id');" {% ifequal order_by "id" %}class="selected"{% endifequal  %}>#</a>
					</th>

					<th class="priority">
						<a href="#" onclick="return Roadmap.activeItemsOrder('priority');" {% ifequal order_by "priority" %}class="selected"{% endifequal  %}>Priority</a>
					</th>

					<th class="description">
						<a href="#" onclick="return Roadmap.activeItemsOrder('description');" {% ifequal order_by "description" %}class="selected"{% endifequal  %}>Description</a>
					</th>

					{% ifequal assigned_to "all" %}
						<th>
							<a href="#" onclick="return Roadmap.activeItemsOrder('assigned_to');" {% ifequal order_by "assigned_to" %}class="selected"{% endifequal  %}>Assigned</a>
						</th>
					{% endifequal %}

				</tr>
			</thead>

			<tbody>
				{% for item in items %}
					{% include "ledger/items/item_row.html" %}
				{% endfor %}

			</tbody>
		</table>
	</form>

	{% include "ledger/items/item_groups.html" %}
	{% include "ledger/items/remind_me_when.html" %}
{% endblock %}
