{% if selected_items_count != 0 %}<a href="{% url roadmap.ledger.views.selected_items %}">{{ selected_items_count }} item{{ selected_items_count|pluralize }} selected</a>
	<input type="submit" id="clearTags"  class="submit" name="ClearTags" value="Clear" class=" dialog_link" />
	<input type="submit" id="moveTags" class="submit marginRight24" id="moveTo" name="moveTo" value="Edit Multiple Items"/>
	  <button id="groupItems" onclick="return Roadmap.grouping.addToGroup();">
		Add to Group</button>
	  <button id="remindItems" onclick="return Roadmap.reminders.addToReminder();">
	   Remind Me Later
	</button>
{% endif %}
