{% extends "ledger/base.html" %}
	{% load custom %}
	{% load markup %}

	{% block "title" %}
	Active {{ page.location }}
	{% endblock %}





	{% block "breadcrumb" %}

	{% endblock %}


{% block "toolbox" %}

{% endblock %}


{% block "maincontent" %}

	<div id="dashboardConstraint">
		<div id="dashboard">

				<h2>Sorry! An unforseen problem just happened!</h2>
				<h2>Hopefully you can find it in your heart to forgive us.</h2>

				<h3 class="margin24">
					If you are feeling particularly generous, please log an issue on <a href="https://github.com/adamauckland/RoadMap/issues">GitHub</a>.
				</h3>

				<p>

				</p>

		</div>
	</div>
{% endblock %}
