{% extends "ledger/base_wide.html" %}
{% load custom %}
{% load markup %}

{% block "title" %}
Active {{ page.location }}
{% endblock %}





{% block "breadcrumb" %}

{% endblock %}





{% block "navigation" %}
	<ol>
		<li>
				{% for client in clients %}
					<ol>
					<li>

							<a href="/roadmap/ledger/client/{{ client.slug }}">{{ client.name }}</a>

					</li>
					</ol>
				{% empty %}
				<ol>
					<li>
							No clients
					</li>
				</ol>
				{% endfor %}

		</li>

		<li>
			<div class="sectionTop">
				<a style="font-size:12px;" href="/roadmap/ledger/new_client" class="">+ Client</a>
			</div>
		</li>
	</ol>
{% endblock %}



{% block "toolbox" %}
  <div id="toolbox">
	<span class="linkButton">
	  <a class="ui-state-default ui-corner-all dialog_link" href="{% url roadmap.ledger.views.create_item_where item_type='Issue' %}" title="Add new issue">+ Issue</a>
	</span>

	<span class="linkButton">
	  <a class="ui-state-default ui-corner-all dialog_link" href="{% url roadmap.ledger.views.create_item_where item_type='Requirement' %}" title="Add new requirement">+ Requirement</a>
	</span>

	<span class="linkButton">
	  <a class="ui-state-default ui-corner-all dialog_link" href="{% url roadmap.ledger.views.create_item_where item_type='File' %}" title="Add new file">+ File</a>
	</span>

	<span class="linkButton">
	  <a class="ui-state-default ui-corner-all dialog_link" href="{% url roadmap.ledger.views.create_item_where item_type='Note' %}" title="Add new note">+ Note</a>
	</span>
  </div>
{% endblock %}



{% block "maincontent" %}
	<div id="createItemWhere"  class="instaFilter">
		<h2 style="padding-top:24px;">Create {{ item_type }}</h2>

		<p class="margin24">
			You are adding a new {{ item_type }}. Which project should it be added to?
		<p>

		<div class="margin24" style="margin-top: 24px;">
			<input type="text" id="feedFilter" class="instaFilterInput" placeholder="Filter projects"/>
		</div>

		<ol class="clients" >
			{% for loop_client in client_items %}
				<li class="instaFilterThis">
					<h3 style="font-size: 12px;">{{ loop_client.name }}</h3>

					<ol class="binders">
						{% for loop_binder in loop_client.binders %}
							<li >
								<h3 style="color: #aaa;"> {{ loop_binder.name }}</h3>

								<ol class="projects">
									{% for loop_project in loop_binder.projects %}
										<li>
											<a href="{% url roadmap.ledger.views.new_item item_type=item_type %}?project={{ loop_project.id }}">

												{{ loop_project }}
											</a>
										</li>
									{% endfor %}
								</ol>

							</li>
						{% endfor %}
					</ol>
				</li>
			{% endfor %}
		</ol>
	</div>
{% endblock %}