{% extends "ledger/base.html" %}


{% load custom %}
{% load markup %}
{% load avatar_tags %}

{% block "head" %}
	<link rel="shortcut icon" href="/media/layout/icons/house.png" />
{% endblock %}




{% block "navigation" %}
	<ol>
		<li>
				{% for client in clients %}
					<ol>
					<li>

							<a href="/roadmap/ledger/client/{{ client.slug }}">{{ client.name }}</a>

					</li>
					</ol>
				{% empty %}
				<ol>
					<li>
							No clients
					</li>
				</ol>
				{% endfor %}

		</li>

		<li>
			<div class="sectionTop">
				<a style="font-size:12px;" href="/roadmap/ledger/new_client" class="">New Client</a>
			</div>
		</li>
	</ol>
{% endblock %}




{% block "toolbox" %}
  <div id="toolbox">
	<span class="linkButton">
	  <a class="ui-state-default ui-corner-all dialog_link" href="{% url roadmap.ledger.views.create_item_where item_type='Issue' %}" title="Add new issue">New Issue</a>
	</span>

	<span class="linkButton">
	  <a class="ui-state-default ui-corner-all dialog_link" href="{% url roadmap.ledger.views.create_item_where item_type='Requirement' %}" title="Add new requirement">New Requirement</a>
	</span>

	<span class="linkButton">
	  <a class="ui-state-default ui-corner-all dialog_link" href="{% url roadmap.ledger.views.create_item_where item_type='File' %}" title="Add new file">New File</a>
	</span>

	<span class="linkButton">
	  <a class="ui-state-default ui-corner-all dialog_link" href="{% url roadmap.ledger.views.create_item_where item_type='Note' %}" title="Add new note">New Note</a>
	</span>
  </div>
{% endblock %}




{% block "title" %}
Dashboard
{% endblock %}



{% block "breadcrumb" %}
	<img src="/media/layout/icons/house.png" title="home"/> Home
{% endblock %}



{% block "rightcontent" %}
	<h3 style="margin:0; margin-bottom: 8px; padding-top:18px; float:right;  width: 245px;">&nbsp;</h3>
  	<div id="line-divider">
		{% include "ledger/objects/calendar.html" %}

		{% if user.is_staff %}

			<!--<div id="tagCloud" style="border-top: dashed 1px #dddddd; margin-top: 12px; padding-left: 12px; ">
				<h3>Tags</h3>
				{% load tag_cloud %}
				{% tag_cloud_for_model ledger.Item as tags with steps=6 min_count=1 %}
				<div>
					{% for tag in tags %}
						<span class="tag-{{tag.font_size}}"><a href="{% url roadmap.ledger.views.tagged_items %}?tags={{ tag.name|urlencode }}">{{tag.name}}</a></span>
					{% empty %}
						<span class="tag-1 charcoal">You do not have any tagged items</span>
					{% endfor %}

				</div>
			</div>-->

			<!--<div id="clientList" style="border-top: dashed 1px #dddddd; margin-top: 12px; padding-left: 12px; ">
				<span class="floatRight" style="font-size: 11px; margin-top: 12px;"><a href="/roadmap/ledger/new_client">New client</a></span>
				<h3>Clients</h3>

				<ol>
					{% for client in clients %}
						<li>
							<a href="/roadmap/ledger/client/{{ client.slug }}">{{ client.name }}</a>
						</li>
					{% empty %}
						<li>
							<span class="tag-1">No clients</span>
						</li>
					{% endfor %}

				</ol>
			</div>-->
		{% endif %}
	</div>
{% endblock %}




{% block "maincontent" %}
  <div id="dashboardConstraint">
	<div id="dashboard">

	  {% if follow_ups %}
		  <h2 style="margin-top: 0">
			To Be Followed Up
		  </h2>

		  <ul style="border-bottom: dashed 1px #ddd; margin-bottom: 24px; padding-bottom: 16px; margin-left: 12px; margin-right: 12px; padding-left: 12px;">
			{% for loop_follow_up in follow_ups %}
			  <li>
				<a href="{% url roadmap.ledger.views.item id=loop_follow_up.id %}">#{{ loop_follow_up.id }}  {{ loop_follow_up.description }}</a> <span class="explanation">{{ loop_follow_up.item_type }} </span>
				<div><a style="color: #999999; font-size: 80%; " href="/roadmap/ledger/project/{{ loop_follow_up.project.binder.slug }}/{{ loop_follow_up.project.slug }}">{{ loop_follow_up.project.binder.client.name }} &#9654; {{ loop_follow_up.project.name }}</a></div>
			  </li>

			{% endfor %}
		  </ul>
		{% endif %}

		<!--
		<span class="floatRight">
			<img class="icon-adjust" src="/media/layout/icons/add.png" alt="Create new binder icon" /> <a href="/new_binder">Create new binder</a>
		</span>
		  -->

		<h2 style="margin-top: 0px; padding-bottom: 12px; margin-bottom: 10px;">
			Active Projects
		</h2>

	{% if header_notifications %}
		<h2><img src="/media/layout/icons/email.png" /> Notifications</h2>
		<div id="notifications" style="margin-bottom: 4em;">
			<ol>
				{% for loop_item in header_notifications %}
					<li>
						<p>
							<a href="{%url roadmap.ledger.views.view_notification notification_id=loop_item.id %}">
							{{ loop_item.text }}
							</a>
						</p>
					</li>
				{% endfor %}
			</ol>
		</div>
	{% endif %}

	{% if grid %}
		<ol>
			{% for grid_row in grid %}
				<li {% if forloop.last %}style="margin-bottom:0px;" {% endif %}>
					<span class="listHeader"> <a href="/roadmap/ledger/client/{{ grid_row.client.slug }}" class="binderTitle" title="{{ grid_row.client.name }}">{{ grid_row.client.name }}<!-- binder.--></a></span>

					<div class="bubble">
						<table>
						  {% for loop_project in grid_row.projects %}
							 {% ifchanged loop_project.project.binder.name %}
								<tr>
									<td colspan="3" style="padding-bottom: 0px;">
										<div class="explanation" style="margin-left: 12px;">{{ loop_project.binder.name }} </div>
									</td>
								</tr>
							{% endifchanged %}

							  <tr>
								  <td style="width: auto;">

								   <!--<span class="explanation" style="margin-left: 12px;">{{ loop_project.binder.name }} &#9654;</span>-->
									<a class="margin12" href="/roadmap/ledger/project/{{ loop_project.project.binder.slug }}/{{ loop_project.project.slug }}" title="{{ loop_project.project.name }} project">{{ loop_project.project.name }}</a>

								  </td>
								  <td style="width: 110px; text-align:right;">{% if loop_project.project.deadline %}<span class="explanation">Due: {{ loop_project.project.deadline }}</span> {% else %}&nbsp;{% endif %}</td>
								  <td style="width: 100px;">

										  {% if loop_project.your_items != 0 %}
											  <span style="float:right;">



													<a class="orangeInput info" href="{% url roadmap.ledger.views.items client_name=loop_project.binder.client.slug,binder_name=loop_project.binder.slug,project_name=loop_project.project.slug %}?{{ loop_project.view_settings }}">

														My items
													</a>

											  </span>
										  {% endif %}

								  &nbsp;
								  </td>
								<!--  <td style="width:19%">
									  <span class="linkButton">
										  <a class="ui-state-default ui-corner-all dialog_link" href="{% url roadmap.ledger.views.new_item item_type='Issue' %}?project={{ loop_project.project.id }}"> <img src="/media/layout/icons/Issue.png" class="icon-adjust" alt="Icon for issue" /> Raise Issue</a>
									  </span>
								  </td>-->
							  </tr>
						  {% endfor %}
					  </table>
					</div>
				</li>
			{% endfor %}
		</ol>
	{% else %}
		{% if user.is_staff %}
	  <div style="margin-left: 24px;"><img src="/media/layout/icons/information.png" /> You don't appear to have any projects assigned to you. <a href="/new_binder">Create a project folder</a> to get started</div>
	  {% endif %}
	{% endif %}
	</div>


  </div>
{% endblock %}
