
{% extends "ledger/base.html" %}
{% load custom %}
{% load markup %}

{% block "title" %}
Editing {{ item.description }}
{% endblock %}

{% block "toolbox" %}
	 <div id="toolbox">


	<span class="linkButton">
	  <a class="ui-state-default ui-corner-all dialog_link" href="{% url roadmap.ledger.views.new_item item_type='Issue' %}?project={{ item.id }}">New Issue</a>
	</span>

	<span class="linkButton">
	  <a class="ui-state-default ui-corner-all dialog_link" href="{% url roadmap.ledger.views.new_item item_type='Requirement' %}?project={{ item.id }}">New Requirement</a>
	</span>

	<span class="linkButton">
	  <a class="ui-state-default ui-corner-all dialog_link" href="{% url roadmap.ledger.views.new_item item_type='File' %}?project={{ item.id }}">New File</a>
	</span>

	<span class="linkButton">
	  <a class="ui-state-default ui-corner-all dialog_link" href="{% url roadmap.ledger.views.new_item item_type='Note' %}?project={{ item.id }}">New Note</a>
	</span>
  </div>
{% endblock %}




{% block "rightcontent" %}
  {% include "ledger/objects/project_details.html" %}
{% endblock %}



{% block "navigation" %}
	{% include "ledger/project_navigation.html" %}
{% endblock %}





{% block "heading" %}

{% endblock %}

{% block "maincontent" %}
	<div id="project">

		<h2 style="margin-top: 0">
			Set deadline for {{ project.name }}
		</h2>

	<table id="dashboardTable">
			<caption></caption>
			<thead>
				<tr>
					<td colspan="7" class="monthYear">
						<a href="?project={{ project.slug }}&amp;month={{ calendar_output.todays_month }}&year={{ calendar_output.past_year }}">&lt;&lt;</a>
						<a href="?project={{ project.slug }}&amp;month={{ calendar_output.previous_month }}&year={{ calendar_output.previous_year }}">&lt;</a>
						{{ calendar_output.month_name }} {{ calendar_output.todays_year }}
						<a href="?project={{ project.slug }}&amp;month={{ calendar_output.next_month }}&year={{ calendar_output.next_year }}">&gt;</a>
						<a href="?project={{ project.slug }}&amp;month={{ calendar_output.todays_month }}&year={{ calendar_output.future_year }}">&gt;&gt;</a>
					</td>
				</tr>
				<tr>
					<th>M</th>
					<th>T</th>
					<th>W</th>
					<th>T</th>
					<th>F</th>
					<th>S</th>
					<th>S</th>
				</tr>
			</thead>
			<tbody >
					{% if calendar_output.weeks %}
					{% for week_item in calendar_output.weeks %}
						<tr>
							{% for day_item in week_item %}
								<td class="{{ day_item.ccs_class }} {% if calendar_output.todays_year == project.deadline.year %}{% if calendar_output.todays_month == project.deadline.month %}{% if day_item.value == project.deadline.day %}flagToday{% endif %}{% endif	%}{% endif %}">

									{% ifnotequal day_item.value 0 %}
												<a href="/roadmap/ledger/set_deadline?month={{ calendar_output.todays_month }}&year={{ calendar_output.todays_year }}&day={{ day_item.value }}&project={{ project.slug }}&action=set">{{ day_item.value }}</a>
									{% endifnotequal %}
								</td>
							{% endfor %}
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
			</table>


	</div>
{% endblock %}
