{% if page.object_list %}
	<ol>
		{% for result in page.object_list %}
			{% if user in result.object.project.binder.reporters.all or user in result.object.project.binder.producers.all or user in result.object.project.binder.owner %}
				{% if result.object.location.method != 'delete' %}
					<li>
						<span class="explanation">{{ result.object.item_type }} #{{ result.object.id }}</span> <a href="/item/{{ result.object.id }}">{{ result.object.description }}</a>
						<div>
							
							<span class="project">{{ result.object.project.binder.client.name }} ▶ {{ result.object.project.name }}</span>
							<span class="tags">{{ result.object.tags }}</span>
						</div>
						<!--{{result.score }}-->
					</li>
				{% endif %}
			{% endif %}


		{% endfor %}
	</ol>
{% else %}
	<ol>
		<li>No results found.</li>
	</ol>
{% endif %}
